<ion-view view-title="{{service}} - {{type}}">
<ion-content class="padding">

 
 <form ng-submit="conf()" name="confirm"> 
  <div class="list">
<label class="item item-input item-floating-label">
   I need a <b> {{service}}</b> on <i style="font-style: italic;">{{type}}</i> bases,<br/>

  <i style="font-style: italic;">at price of {{price}}.</i>
</label>
  <label class="item item-input item-floating-label">
      <span class="input-label"> My Name is</span>
      <input type="text" name="name" placeholder="enter name" ng-model="data.name" ng-minlength="1" required />
  </label>

  <label class="item item-input item-floating-label">
      <span class="input-label"> My Mobile No. is</span>
      <input type="number" name="mobile" placeholder="enter mobile no." ng-model="data.mobile" ng-minlength="10" ng-maxlength="10" required />

  </label>

    <label class="item item-input item-floating-label">
      <span class="input-label"> My Address is</span>
      <textarea placeholder="enter address" name="address" ng-model="data.address" rows="4" ng-minlength="1" required></textarea>
  </label>
</div>

        <div class="padding">
            
            <p ng-show="confirm.mobile.$error.minlength || confirm.mobile.$error.maxlength">* Mobile No. show be of 10 digit.</p>
            
            
        </div>

<input class="button button-block button-positive" type="submit" name="need now" value="Confirm" nav-direction="forward" 
ng-disabled="confirm.$invalid"> 

</form>

  
    
    

  

</ion-content>
</ion-view>
