<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->

<ion-tabs class="tabs-icon-top tabs-color-active-positive">

 

  <!-- Chats Tab -->
  <ion-tab title="Services" icon-off="ion-eyes-active" icon-on="ion-eye"  ng-click="e.stopPropagation()">
    <ion-nav-view name="service-list" ></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Plan" icon-off="ion-clipboard-active" icon-on="ion-clipboard" ng-click="e.stopPropagation()">
    <ion-nav-view name="service-type"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Confirm" icon-off="ion-checkmark-active" icon-on="ion-checkmark" ng-click="e.stopPropagation()">
    <ion-nav-view name="book"></ion-nav-view>
  </ion-tab>


</ion-tabs>
